<form method="post" action="/owners/<%= @owner.id %>">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @owner.name %>"/>

  <label for="address">Type:</label>
  <input type="text" name="address" id = "address" value="<%= @owner.address %>"/>

  <label for="contact-num">Entry Date:</label>
    <input id="contact-num" type="text" name="contact_num" value="<%= @owner.contact_num %>"/>





  <input type='submit' value="Edit Owner">
</form>
