<form method="post" action="/owners">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="address">Address:</label>
  <input type="text" name="address" id = "address"/>

  <label for="contact-num">Contact Number:</label>
    <input id="contact-num" type="text" name="contact_num"/>



    <input type="submit" value="Add Owner" />
</form>
