<form method="post" action="/owners">
  <div class="new_wrapper">

  <div class="row_wrapper">
  <label class="data_label" for="name">Name:</label>
  <input class="data_input" type="text" name="name" id="name"/>
</div>
  <div class="row_wrapper">
  <label class="data_label" for="address">Address:</label>
  <input class="data_input" type="text" name="address" id = "address"/>
</div>
<div class="row_wrapper">
  <label class="data_label" for="contact-num">Contact No:</label>
    <input class="data_input" id="contact-num" type="text" name="contact_num"/>
</div>


    <input type="submit" value="Add Owner" />
  </div>
</form>
