* {
  font-family: 'PT Sans', sans-serif;
}

body {
  background-image: url('/adorable-animal-blur-406014.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 45px;
}

p {
  text-align: center;
  font-size: 30px;
}


.topnav {
  background-color: lightblue;
  text-align: center;
}


.new_wrapper{
display:flex;
justify-content: center;
align-items: center;
width: 50%;
opacity: 0.8;
background-color: white;
margin-left: 25%;
flex-direction: column;
}

.row_wrapper{
  display:flex;
  justify-content: center;
}

.index_wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: double;
  border-color: lightblue;
  border-width: 1px;
  padding: 25px 100px 25px 100px;

}


.data_label{
display: flex;
justify-content: flex-end;
align-items: flex-end;
width: 45%;
padding-right: 5px;
align-content: space-around;
}

.data_input{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  background-color: lightblue;
  align-content: space-between;
}

.options_label{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  padding: 20px;
  flex-wrap: nowrap;
}
