<form method="post" action="/animals/<%=@animals.id%>">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="type">Type:</label>
  <input type="type" name="type" id = "type"/>

  <label for="entry-date">Entry Date:</label>
    <input id="entry-date" type="date" name="entry_date"/>

  <label for="status">Select animal status:</label>
    <select id="status" name="status">
      <option value="Available">Avaiable</option>
      <option value="Unavaiable">Unavailable</option>
    </select>



  <input type='submit' value="Edit Animal">
</form>
