
<form method="post" action="/animals">
  <div class="new_wrapper">

  <div class="row_wrapper">
  <label class="data_label" for="name">Name:</label>
  <input class="data_input" type="text" name="name" id="name"/>
</div>
<div class="row_wrapper">
  <label class="data_label" for="type">Type:</label>
  <input class="data_input" type="text" name="type" id = "type"/>
</div>
<div class="row_wrapper">
  <label class="data_label" for="entry-date">Entry Date:</label>
    <input class="data_input" id="entry-date" type="date" name="entry_date"/>
    </div>
<div class="row_wrapper">
  <label class="options_label" for="status">Select status:</label>
    <select id="status" name="status">
      <option class="data_input" value="Available">Available</option>
      <option class="data_input" value="Unavailable">Unavailable</option>
    </select>
</div>

    <input type="submit" value="Add Animal" />
      </div>
</form>
